# Node.js (for back directory)
back/node_modules/
back/npm-debug.log*
back/yarn-debug.log*
back/yarn-error.log*

# Logs (for back directory)
back/logs/
back/*.log
back/*.log.*

# Firebase (for back directory)
back/firebase-debug.log
back/.firebaserc
back/.firebase/


back/config/serviceAccountKey.json

# Vite (for front directory)
front/dist/
front/.vite/
front/.vscode/
front/.env.local
front/.env.*
front/.env

front/firebase.json

# React (for front directory)
front/build/
front/.cache/
front/coverage/
front/public/

# Dependency directories
node_modules/
.pnp/
.pnp.js

# Editor specific
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS-specific files
# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Temp files
*.swp
*.lock
*.tmp
*.bak
*.old
*.orig
*.pid
*.seed
